/* css su tutta la pagina */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: no-repeat linear-gradient(to bottom, #009688 20%, #dbdbd2 20% 80%);
    height: 100vh;
}

img{
    width: 100%;
    height: 100%;
}

.h_100{
    height: 100%;
}

.grey_{
    color: #b1b1b1;
}

.lightblue_{
    color: #8edafc;
}

.bg_lightblue_{
    background-color: #8edafc;
}

.bg_grey_{
    background-color: #b1b1b1;
}


.bg_whatsapp{
    background-image: url("../../img/mine.jpg");
}

/* css main */

.h_structure{
    min-height: 920px;
}

.h_user{
    height: 4.25em;
}

.user_ > img{
    width: 68px;
    height: 68px;
    border-radius: 50%;
}


/* parte a destra */

.h_messages{
    height: calc(100% - 8.50em);
}

.sender_ > div {
    background-color: #d5f9ba;
    width: 300px;
}

.recipient_ > div {
    background-color: #eaeaea;
    width: 300px;
}


.h_write_message{
    height: 4.25rem;
}

.input-group > span > i{
    width: 50px;
}

/* parte a sinistra */

.row.m-0 > section{
    width: 100%;
}

.h_notifications{
    height: 5rem;
}

.h_notifications > div.rounded-circle{
    width: 3rem;
    height: 3rem;
}